.background {
  position: relative;
  background: url('../../images/3.webp');
  height: 30vw;

  background-attachment: fixed;
  padding: 5rem;

  .info {
    color: white;
    width: 50%;
    font-size: 2rem;
    line-height: 2rem;
  }
}
