.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 5rem;
  border-radius: 3rem;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  transition-duration: 0.5s;

  h1 {
    font-size: 4vw;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
  }

  p {
    color: white;
    margin: 2rem;
    font-size: 1.2rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title-container h1 {
    font-size: 6vw;
  }

  .title-container p {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title-container p {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title-container p {
    display: block;
  }
}
